{% extends "components/layout.html" %}


{% block title %}
Rooms
{% endblock title %}


{% block content %}
<div class="block mx-8 mb-16 lg:mx-28">
	<div
		class="flex flex-col lg:flex-row bg-amber-400 px-8 py-4 flex justify-between border "
	>
		<div>
			<p>
				{{ hotel.name }}
			</p>
			<p class="text-slate-500 font-xl italic">
				{{ hotel.address }}
			</p>
		</div>
		<div>
			<div class="text-slate-500">
				Rating:
				<span class="">
					<i class="fa-solid fa-star text-white"></i>
					<i class="fa-solid fa-star text-white"></i>
					<i class="fa-solid fa-star text-white"></i>
					<i class="fa-solid fa-star text-white"></i>
					<i class="fa-solid fa-star text-white"></i>
				</span>
			</div>
			<div class="text-slate-500">
				No. of Rooms:
				<span class="text-black font-bold">
					{{ hotel.no_of_rooms }}
				</span>
			</div>
		</div>
	</div>

	<div class="flex mt-4">
		<div class="hidden min-h-full w-1/4 border-r-2 px-4 italic sm:block">
			<p class="mb-4 border-b-2 font-bold text-2xl">
				Dashboard
			</p>
			<div class="mb-2 block transition hover:bg-amber-400">
				<button
					class="w-full px-4 py-2 flex justify-between items-center"
					onclick="toggle_manager()"
				>
					Manage Rooms
					<i class="fa-solid fa-caret-right"></i>
				</button>
				<div id="manage-rooms"
					class="hidden absolute w-48 bg-white border
								rounded-lg shadow-md"
				>
					<ul class="py-2 text-gray-700">
						<li>
							<a href="{% url 'rooms' %}"
								class="block px-4 py-2 transition hover:bg-amber-400"
							>
								View Rooms
							</a>
						</li>
						<li>
							<a href="{% url 'add_room' %}"
								class="block px-4 py-2 transition hover:bg-amber-400"
							>
								Add Room
							</a>
						</li>

						<li>
							<a href="#"
								class="block px-4 py-2 transition hover:bg-amber-400"
							>
								Manage Rooms
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="mb-2 block transition hover:bg-amber-400">
				<a class="px-4 py-2 flex justify-between items-center"
					href="#section3"
				>
					Bookings
				</a>
			</div>
			<div class="mb-2 block transition hover:bg-amber-400">
				<a class="px-4 py-2 flex justify-between items-center"
					href="#section4"
				>
					Reviews
				</a>
			</div>
			<div class="mb-2 block transition hover:bg-amber-400">
				<a class="px-4 py-2 flex justify-between items-center"
					href="#section5"
				>
					Settings
				</a>
			</div>
		</div>


		{% block client_dashboard_content %}

		{% endblock client_dashboard_content %}
	</div>


</div>
{% endblock content %}


{% block javascript %}
<script>
	var toggle_manager = () => {
		let dropdown = document.getElementById("manage-rooms");
		dropdown.classList.toggle("hidden");
	};

	document.addEventListener("click", function (event) {
		let dropdown = document.getElementById("manage-rooms");
		let button = document.querySelector
		("button[onclick='toggle_manager()']");

		if (!dropdown.contains(event.target) && !button.contains(event.target)) {
			dropdown.classList.add("hidden");
		}
	});
</script>
{% endblock javascript %}
