{% extends "client/hotels.html" %}


{% block client_dashboard_content %}
<div class="block w-full pl-4 pt-4">
	<p class="pb-4 font-bold text-2xl text-center">
		Hotel Rooms
	</p>
	<hr>

	<div class="lg:grid lg:grid-cols-4 lg:gap-4">
		{% for room in rooms %}
		<div
			class="rounded shadow-md my-4
					transition-all hover:drop-shadow-lg"
		>
			<img class="w-full rounded-t-lg bg-cover bg-no-repeat"
				src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.eUmRjpZOz3-yqS_-wEwRPQHaE8%26pid%3DApi&f=1&ipt=ec5680f162316d3cb371f8e8c60cceb745f5a3c636722a44a1a845590e8b0fb6&ipo=images"
				alt=""
			>

			<div class="border p-4 bg-white ">
				<h2 class="font-bold text-xl mb-2">
					Room {{ room.room_number}}
				</h2>
				<p><strong>Capacity:</strong> {{ room.capacity }} persons</p>
				<p><strong>Price:</strong> Rs {{ room.price }} / night</p>
				<div>
					<strong>Available:</strong>
					{% if room.is_available %}
					<span class="text-green-700 font-bold">Yes</span>
					{% else %}
					<span class="text-red-700 font-bold">No</span>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock client_dashboard_content %}
