{% extends "components/layout.html" %}

{% load static %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="h-screen">
	<div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
		<h1 class="text-3xl font-bold text-gray-900 mb-4">
			About Our Website...
		</h1>
		<p class="text-lg text-gray-700 mb-4">
			Welcome to Our Website,
			<br>
			<br>
			Our website is dedicated to providing a seamless and convenient
			hotel booking experience. Whether you're planning a relaxing getaway
			or a business trip, we help you find the perfect accommodation with
			ease and reliability.
		</p>
		<p class="text-lg text-gray-700">
			Contact us for more information.
		</p>
	</div>
</div>
{% endblock content %}