{% extends "components/layout.html" %}

{% load static %}

{% block title %}
Homepage
{% endblock title %}

{% block content %}

<div class="">
	<div class="w-full h-md bg-[url('/staticfiles/img/hotel1.jpg')]
				bg-scroll bg-center bg-cover bg-no-repeat bg-blend-darken"
	>
		<div class="h-full bg-slate-900/75">
			<div class="px-48 py-28">
				<div class="font-bold text-white text-2xl text-center mb-8">
					Search
				</div>
				<div class="flex justify-center">
					<input class="border rounded-full sm:w-2/4 md:1/4"
						type="text"
						id="search-bar"
					>
					<a class="text-black ml-[-32px] flex items-center"
						id="search-button"
						href="{% url 'search' %}"
					>
						<i
							class="fa-solid fa-magnifying-glass hover:text-slate-600 transition"
						></i>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="flex flex-col w-full px-48 py-16 items-end">
	</div>
</div>

{% endblock content %}

