<div class="flex w-full justify-between py-4 px-4">
	<a href="/"
		class="flex-none"
	>
		Logo
	</a>
	<div>
		<ul class="flex gap-4 items-center justify-between">
			<li><a href="/">Home</a></li>
			<li><a href="{% url 'search' %}">Search</a></li>
			<li><a href="{% url 'about' %}">About</a></li>
			{% if user.is_authenticated %}
			<li>
				<a href="#" class="">
					<img src="#"
						alt="{{ user.username }}"
					>
				</a>
			</li>
			<li>
				<a href="{% url 'logout' %}">
					<button class="btn-primary">
						Logout
					</button>
				</a>
			</li>

			{% else %}
			<li>
				<a href="{% url 'login' %}">
					<button class="btn-primary">
						Login
					</button>
				</a>
			</li>
			<li>
				<a href="{% url 'register' %}">
					<button class="btn-primary">
						Register
					</button>
				</a>
			</li>
			{% endif %}
		</ul>

		{% if not user.is_authenticated %}
		<p class="text-xs py-2 text-slate-600">
			Want to Register as Hotel Owner?
			<a class="text-amber-700"
				href=" {% url 'register_client' %} "
			>
				Register now!
			</a>
		</p>
		{% endif %}
	</div>
</div>
