{% extends '_base.html' %}

{% block title %}
Login
{% endblock %}

{% block main %}
<div class="flex items-center justify-center h-screen">
	<div class="px-24 py-12 border rounded-md">
		<div class="mx-auto w-full max-w">
			<h1 class="mt-10 text-center text-2xl font-bold leading-9
						tracking-tight text-gray-900"
			>
				Welcome!!
			</h1>
			{% if msg %}
			<div class="text-red-700 text-center">
				{{ msg }}
			</div>
			{% endif %}
		</div>

		<div class="mt-10 mx-auto w-full max-w-sm">
			<form class="space-y-4"
				method="POST"
			>
				{% csrf_token %}
				<div>
					<label for="username"
						class="block text-sm font-medium leading-6
						   			text-gray-900"
					>
						Username
					</label>
					<div class="mt-2">
						{{ form.username }}
						<div class="text-red-700">
							{{ form.username.errors }}
						</div>
					</div>
				</div>

				<div>
					<div class="flex items-center justify-between">
						<label for="password"
							class="block text-sm font-medium leading-6
							   			text-gray-900"
						>
							Password
						</label>
						<div class="text-sm">
							<a href=""
								class="font-semibold text-amber-600
							   			hover:text-amber-400 transition"
							>
								Forgot password?
							</a>
						</div>
					</div>
					<div class="mt-2">
						{{ form.password }}
						<div class="text-red-700">
							{{ form.password.errors }}
						</div>
					</div>
				</div>

				<div class="text-center">
					<button type="submit"
						class="btn-primary"
					>Sign in
					</button>
				</div>
			</form>

			<div class="mt-6">
				<div class="relative">
					<div class="absolute inset-0 flex items-center">
						<div class="w-full border-t border-gray-300"></div>
					</div>
					<div class="relative flex justify-center text-sm">
						<span class="px-2 bg-white text-gray-500">Or continue with</span>
					</div>
				</div>

				{% comment %} {% load socialaccount %} {% endcomment %}
				<div class="mt-6">
					{% comment %} <a href="{%  provider_login_url 'google' %}"  {% endcomment %}
					<a href="#" 
						class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 transition">
						<img class="h-5 w-5" src="https://www.google.com/favicon.ico" alt="Google logo">
						<span class="ml-2">Sign in with Google</span>
					</a>
				</div>
			</div>

			<p class="mt-10 text-center text-sm text-gray-500">
				Want to Signup?
				<a href="{% url 'register' %}"
					class="font-semibold leading-6 text-amber-600
				   			hover:text-amber-400 transition"
				>
					Register Now
				</a>
			</p>
			<a href="/"
				class="mt-2 text-sm block text-center font-semibold
			   			leading-6 text-amber-600 hover:text-amber-400 transition"
			>
				Back to homepage
			</a>
		</div>
	</div>
</div>
{% endblock %}
